<!--left menu end-->
<div class="dpl-www-content" id="J_Content" >
    <!-- 表单区域 -->
    <form class="form-horizontal " id="J_searchForm" data-xtype="form">
        <div class="row row-flex b-search-form b-region mt-10">
            <div class="col-flex">
                <div class="row cols-fixed">
                    <div class="col-lg-5">
                        <div class="c-select input-group" id = "startDate" data-label="开始时间" data-name="startDate"
                             data-xtype="calendar-select-field" data-value="$lastweek">
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="c-select input-group" id = "endDate" data-label="结束时间" data-name="endDate"
                             data-xtype="calendar-select-field" data-value="$today">
                        </div>
                    </div>

                    <!--input 输入框-->
                    <div class="col-lg-5">
                        <div class="input-group" data-label="主叫号码" data-name="callerNum" data-xtype="text-field"></div>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group" data-label="被叫号码" data-name="calleeNum" data-xtype="text-field"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary mt-10 J_Search">查询</button>
            </div>
        </div>

    </form>
    <!-- 表单区域 -->

    <!-- 列表区域 -->
    <div class="row b-region mt-10">
        <div id="Toolbar" class="row row-flex b-toolbar">
            <div class="col-flex"></div>
        </div>

        <div id="J_DataTable1"></div>
        <div id="J_Paging1" class="pull-right"></div>
    </div>


    <div id="J_dialog" style="display:none;">
        <form id="J_dialogForm" class="form-horizontal" >
            <div class="row">
                <div class="col-lg-20" id="J_dialogContent">
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        seajs.config({
            paths: {
                'bms-base': '//g.alicdn.com/cn/bms-base/1.0.1',
                'pages': 'http://autoanswer2.oss-cn-hangzhou.aliyuncs.com/'
            }
        });


        C.use('pages/checkForm', function(Page){
            var page = new Page({
                autoRender: true,
                queryUrl: '../multievent/record_service/getRecordList.json',
                requestUrl:'../multievent/record_service/doGetFullText.json',
            });
        });
    </script>

</div>
