<!--left menu end-->
<div class="dpl-www-content" id="J_Content" >
	<!-- 表单区域 -->
    <!-- 表单区域 -->
    <form class="form-horizontal " id="J_callForm" data-xtype="form">
        <div class="row row-flex b-search-form b-region mt-10">
            <div class="col-flex">
                <div class="row cols-fixed">
                    <div class="col-lg-5">
                        <div class="input-group" data-label="被叫号码" data-name="calleeNum" data-xtype="text-field"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary mt-10 J_Call">呼叫</button>
            </div>
        </div>
    </form>

    <div id="J_dialog" style="display:none;">
        <form id="J_dialogForm" class="form-horizontal" >
            <div class="row">
                <div class="col-lg-20" id="J_dialogContent">
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        seajs.config({
            paths: {
                'bms-base': '//g.alicdn.com/cn/bms-base/1.0.1',
                'pages': 'http://autoanswer2.oss-cn-hangzhou.aliyuncs.com'
            }
        });


        C.use('pages/toolForm', function(Page){
            var page = new Page({
                autoRender: true,
                queryUrl: '../simple/call.do'
            });
        });
    </script>

</div>
